---
import Section from "../../components/Section.astro"
import Layout from "../../layouts/Layout.astro"

import { BASE_URL } from "../../constants"
import type { BlogPostType } from "../../types"
import BlogCard from "../../components/BlogCard/BlogCard"

const allPosts = await Astro.glob<BlogPostType>("../post/*.mdx")
const allSortedPosts = allPosts.sort(
  (a, b) =>
    new Date(b.frontmatter.date).valueOf() -
    new Date(a.frontmatter.date).valueOf(),
)
---

<Layout
  title="Naofal Leo Agusta | Blog"
  permalink={`${BASE_URL}blog`}
  ogImage="/blog-image/OG.webp"
  description="List of blog post by Naofal Leo Agusta"
>
  <Section isTitle title="Blog 📰" classes="py-24">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
      {
        !!allSortedPosts.length &&
          allSortedPosts.map((data: any) => (
            <BlogCard blog={data.frontmatter} client:visible />
          ))
      }
    </div>
  </Section>
</Layout>
