---
import Link from "../components/Link.astro";
import Section from "../components/Section.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <Section isTitle title="4😲4 Not Found" fullHeight classes="pt-24 pb-16">
    <div class="w-full flex dark:text-white">
      <span class="mr-2">Go back to</span>
      <Link text="Home" href="/" />
      ?
    </div>
  </Section>
</Layout>
