---
import Section from "../components/Section.astro";
import { BASE_URL } from "..//constants";
import Layout from "../layouts/Layout.astro";
---

<Layout title="naofalleoagusta | Blog" permalink={`${BASE_URL}about`}>
  <Section isTitle title="Under Construction 🚧" classes="py-24"
    ><p class="mb-52">I'm working on this page!</p>
  </Section>
</Layout>
