---
import FooterLink from "./FooterLink.astro";
import Link from "./Link.astro";

import { FOOTER_LINKS } from "../constants";
---

<footer
  class="sm:max-w-xl md:max-w-full lg:max-w-screen-lg mx-auto px-6 py-14 dark:text-white"
>
  <div class="grid grid-cols-2 md:grid-cols-3 mb-4">
    {FOOTER_LINKS.map((footerLink) => <FooterLink {...footerLink} />)}
  </div>
  <div class="flex justify-center text-md md:text-md">
    <span class="flex items-center tracking-tighter flex-wrap">
      <span class="mb-[1.5px] mr-[6px]">Made with 💖 on</span>
      <Link text="Astro" href="https://astro.build/" icon="astro" /><span
        class="mb-[1.5px] mr-[6px]">,</span
      >
      <Link text="React" href="https://reactjs.org/" icon="react" /><span
        class="mb-[1.5px] mr-[6px]">, and</span
      >
      <Link text="Tailwind" href="https://tailwindcss.com/" icon="tailwind" />
    </span>
  </div>
</footer>
