---
import type { LinkType } from "../types"

export interface Props extends LinkType {}

const { href, text, icon, classes, newTab } = Astro.props
---

<a
  href={href}
  class={`${icon ? "flex items-center" : ""} space-x-2 ${
    classes ? classes : ""
  } group ${newTab ? "cursor-newTab" : ""}`}
  target={newTab ? "_blank" : ""}
  rel="noreferrer noopener"
>
  {
    icon && (
      <div class="bg-white dark:bg-gray-700 dark:text-white group-hover:bg-gray-200 dark:group-hover:bg-gray-800 transition duration-300 ease-in-out p-1 rounded-md">
        <img src={`/${icon}.svg`} width={24} height={24} alt={`${text} logo`} />
      </div>
    )
  }
  <span
    class="border-b-2 border-dotted border-black dark:border-white dark:text-white"
    >{text}</span
  >
</a>
